<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>

		<listener
			class-name="com.automationDressPurchaseProject.Utils.CustomListener" />

		<listener
			class-name="com.automationDressPurchaseProject.retryLogic.TransformerForRetry" />

		<listener
			class-name="com.automationDressPurchaseProject.ExtentReports.ExtentReportListener" />

	</listeners>

	<test thread-count="5" name="Test">
		<classes>
			<class
				name="com.automationDressPurchaseProject.NewTest.OrderPlacementPageTest2" />
			<class
				name="com.automationDressPurchaseProject.BasePackage.TestBase" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
